huggingface_hub
transformers
torch
python-dotenv
accelerate
langchain
langchain-community
langchain-core
sentence-transformers
# conda install -c pytorch faiss-gpu
chromadb
langchainhub
bs4
gpt4all
SQLAlchemy
langchain_experimental
tabulate
arxiv
pymupdf
datasets
playwright 
beautifulsoup4
nest-asyncio
html2text
lxml
pypdf
PyMuPDF
pdfplumber
unstructured
pillow_heif
opencv-python
pdf2image
unstructured_inference
pytesseract
pikepdf
jq
langchain-text-splitters
tiktoken
spaCy
nltk
konlpy
rank_bm25
deeplake
lark
kiwipiepy
langchain-huggingface
umap-learn 
scikit-learn
redis